.auth-container{
    background-image: url("./assets/Imgs/auth-bg.png");
    background-size:cover;
    background-position: center;
}

.overlay{
    background: linear-gradient(rgba(55, 140, 47,0.7),rgba(0, 0, 0, 0.5));
}

.submit{
    background-color: #4AA35A !important;
    color: aliceblue !important;
}

.side-logo{
    padding: 15px 3px 50px 2px;
    
}

.sidebar-container .ps-sidebar-container{
    background-color: #1F263E;
    color: aliceblue;
    height: 100vh;
    border-top-right-radius: 50px;
    font-size: 20px;
}

.sidebar-container .ps-menu-button:hover{
    background-color: rgba(47, 140, 96, 0.5) !important;
    border-left: solid 3px #4AA35A;
}

.sidebar-container .side-logo .ps-menu-button:hover {
    background-color: transparent !important;
    border: none;
  }

  .log-out{
    margin-top: 50px;
  }

  .sidebar-container .ps-menu-icon{
    font-size: 25px;
  }

  .butn{
    background-color: #009247 !important;
  }

  .dropdown-menu i{
    color: #009247;
  }

/* ------------------------Head css------------------------*/
  .head-bg{
    background-color: #009247;
    background-image: url('./assets/Imgs/Ellipse 215.png');
    background-image: url(./assets/Imgs/Ellipse217.png);
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
  }

  .head-bg {
    /* background-color: #009247; 
    background-image: 
        url('./assets/Imgs/Ellipse215.png'), 
        url('./assets/Imgs/Ellipse217.png'), 
        url('./assets/Imgs/Ellipse215.png'), 
        url('./assets/Imgs/Ellipse217.png'),
        url('./assets/Imgs/Ellipse217.png'),
        url('./assets/Imgs/Ellipse217.png');
        
    
    background-position: 
        left 20px top 30px, 
        right 50px center,  
        right bottom, 
        left 20px bottom 30px, 
        left 50px top,  
        right bottom;  */
        background-color: #009247;
/* background-image: 
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'), 
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'),
    url('./assets/Imgs/Ellipse217.png'),
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png');

background-position: 
left -24px top 166px,   
right 600px center,     
right 8px top 5px, 
left 55px top 20px,  
left 60px bottom 20px,  
left 260px top 30px,   
right 37px bottom 10px;

background-repeat: no-repeat; */
background-image: 
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'), 
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'),
    url('./assets/Imgs/Ellipse217.png'),
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'),
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'), 
    url('./assets/Imgs/Ellipse215.png'), 
    url('./assets/Imgs/Ellipse217.png'), 
    url('./assets/Imgs/Ellipse215.png');

background-position: 
left -48px top 115px,  
right 607px center,    
right -1px top -46px, 
left 99px top 0px,  
left 270px bottom 73px,  
left 396px top 60px,   
right 33px bottom 10px,
center top -74px,
right 428px top 5px,
left 183px bottom 100px,
right 272px bottom 65px,
right 406px bottom -29px;

background-size: 
    80px,   
    120px,
    90px,
    100px,
    110px,
    95px,
    85px,
    130px,
    150px,
    100px,
    120px,
    140px;

background-repeat: no-repeat;

background-size: auto;

    
    background-repeat: no-repeat, no-repeat, no-repeat;
    /* background-size: auto, auto, 40%;  */
    padding: 40px;
    border-radius: 12px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  .title{
    width: 37%;
  }

  /*---------------------Table css---------------------------*/

  .table-head .TC{
    background-color: #E2E5EB;
  }

  /*-----------------------dashbord------------------------*/

  .dsh{
    background-color: #F0FFEF;
  }
  
  .dsh-title{
    width: 40%;
  }

  /*------------recipe-form--------------------*/

  .recipe-form input{
     background-color: #F7F7F7;
     border: none;
  }

  .drag input{
    border: dashed !important;
  }